html {
    // scroll-behavior: initial;
    overflow: hidden;
    background: #fff;
}

$padding: clamp(1rem, 2rem, 4rem);
$padding2: clamp(2rem, 3rem, 6rem);



@font-face {
    font-family: 'Medium-Expanded';
    src: url('/fonts/') format('woff2'),
        url('/fonts/Slussen-Expanded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Extended';
    src: url('/fonts/Slussen-Extended-Bold.woff2') format('woff2'),
        url('/fonts/Slussen-Extended-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black';
    src: url('/fonts/Slussen-Black.woff2') format('woff2'),
        url('/fonts/Slussen-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Extralight';
    src: url('/fonts/Slussen-Extralight.woff2') format('woff2'),
        url('/fonts/Slussen-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Demi';
    src: url('/fonts/AvantGardeCE-Demi.woff2') format('woff2'),
        url('/fonts/AvantGardeCE-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DemiOblique';
    src: url('/fonts/AvantGardeCE-DemiOblique.woff2') format('woff2'),
        url('/fonts/AvantGardeCE-DemiOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bold';
    src: url('/fonts/AvantGarde-Bold.woff2') format('woff2'),
        url('/fonts/AvantGarde-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BoldObl';
    src: url('/fonts/AvantGarde-BoldObl.woff2') format('woff2'),
        url('/fonts/AvantGarde-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    width: 100%;
    height: 200vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Medium-Expanded';
    font-size: 12px;
    font-weight: 100;
    background: #000;
    color: #fff;

    #vertical {
        display: flex;
        height: fit-content;
        padding: $padding;


        .main {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;


            .menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 10%;
                width: 100%;
                justify-content: space-between;
                border-bottom: #fff 1px solid;



                .nav-items {
                    display: flex;
                    flex-direction: column;
                    height: 10vh;

                    .title {
                        font-family: "DemiOblique";
                        font-size: clamp(8px, 16px, 6rem);
                        text-transform: uppercase;
                    }

                    .items {
                        font-family: 'Extended';
                        font-size: 1rem;
                    }

                    .display-time {
                        font-family: "Extralight";
                    }

                    .button {
                        display: flex;
                    }

                }

                .nav-items:last-child {
                    text-align: right;

                }

            }

            .hero {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    height: fit-content;
                    overflow: hidden;

                    .hero-items {
                        width: 100%;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: #fff 2px solid;

                        .baseline {
                            font-size: 15rem;
                            display: flex;
                            justify-self: flex-end;
                            font-family: 'Demi';

                        }

                        .midle {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }

    .horizontal {
        height: 100vh;
        width: 300%;
        display: flex;
        flex-direction: column;

        .main-hor {
            width: 300%;

            .wrapper-hor {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;

                hor-items {
                    display: flex;
                    flex-direction: row;



                }
            }
        }
    }
}