
/* Color Theme Swatches in RGBA */
$Swatch-1: rgba(0,10,38, 1);
$Swatch-2: rgba(4,174,242, 1);
$Swatch-3: rgba(3,138,191, 1);
$Swatch-4: rgba(4,198,242, 1);
$Swatch-5: rgba(3,165,89, 1);


*{background-color: $Swatch-5;}